<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" readonlygrid="true">
            <wm-prefab prefabname="ApachepoiExcelPrefab" name="ApachepoiExcelPrefab2" filepath="resources/files/sample.xls"></wm-prefab>
            <wm-grid readonlygrid="true" name="grid2" dataset="bind:Widgets.ApachepoiExcelPrefab2.jsonresponse"></wm-grid>
            <wm-button class="btn-default" caption="Button" type="button" name="button1"></wm-button>
            <wm-composite name="composite1">
                <wm-label class="col-md-3" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>